body {
  background-color: #1c2328;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #fff;
}

.App > div {
  width: 50%;
  background-color: #fff;
  margin-bottom: 20px;
}

button {
  padding: 15px;
  background-color: #64abd4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.App > .hierarchy-graphic {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  background-color: #aaaaaa;
  padding-top: 2%;
  padding-bottom: 15px;
}

.hierarchy {
  width: 45%;
}

.hierarchy > div {
  border-radius: 8px;
}

.graphic {
  background-color: #fff;

  width: 45%;
}
